@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply border rounded;
}

.btn-md {
  @apply w-16 h-6 text-sm;
}

.btn-xl {
  @apply w-24 h-10 text-lg;
}

.btn-highlight {
  @apply bg-secondary text-white border-white hover:bg-white hover:text-secondary
}

.btn-primary {
  @apply bg-primary text-white border-white hover:bg-white hover:text-primary;
}

.btn-white {
  @apply bg-white text-black border-black;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-fast {
  animation: fade-in 200ms ease-in-out;
}

@keyframes slide-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.slide-down-fast {
  animation: slide-down 200ms ease-out;
}

.fade-into-place {
  animation: fade-in 1s ease-in-out, slide-down 1s ease-out;
}
